.container {
  width: 1170px;
  margin: 0 auto;
}

.flex, header, header > div:nth-of-type(2), header > div:nth-of-type(3), #search-bar {
  display: flex;
}

.justify-center, header > div:nth-of-type(3) {
  justify-content: center;
}

.align-center, header, header > div:nth-of-type(2) {
  align-items: center;
}

.w-100, header > div:nth-of-type(3) {
  width: 100%;
}

#menu {
  color: #fff;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 10px;
  width: 40px;
  right: 15px;
  height: 40px;
  padding: 2px 5px 5px;
  transition: all 0.5s;
  z-index: 10;
  cursor: pointer;
  border: 2px #fff solid;
  border-radius: 5px;
}

#menu:hover {
  transform: scale(1.05);
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 4px;
  background: #fff;
  margin: 5px 0;
  transition: 0.4s;
  border-radius: 2px;
}

.change .bar1 {
  transform: translate(0, 9px) rotate(-45deg);
  background: #000000;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -9px) rotate(45deg);
  background: #000000;
}

header {
  width: 100vw;
  height: 65vh;
  background: url("../images/background.jpg") no-repeat;
  background-size: cover;
  color: #fff;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 0;
}
header > div:nth-of-type(2) {
  flex-direction: column;
  margin: 1rem;
}
header h1 {
  font-size: 3rem;
}
header p {
  font-size: 1.5rem;
}

#search-bar {
  width: 65vw;
}
#search-bar div:first-of-type {
  background: rgba(255, 255, 255, 0.5);
  width: 75%;
  padding: 5px;
}
#search-bar div:first-of-type select, #search-bar div:first-of-type input {
  margin-right: 30px;
  width: 28%;
  height: 35px;
  padding: 0 5px;
  border: none;
  border-radius: 3px;
}
#search-bar div:last-of-type {
  width: 25%;
}
#search-bar div:last-of-type input {
  width: 100%;
  height: 100%;
  background: rgba(89, 180, 89, 0.8);
  color: #fff;
  border: none;
}