@use 'parts/header';
@use 'parts/main';
@use 'parts/footer';
@use '_var' as v;
@use '_class' as c;
@use '_anims' as a;

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
    width: 100%;
    height: auto;
}


#primary-nav {
    width: 100%;
    position: absolute;
    background: v.$primary-color;
    top: -50%;
    right: 0;
    padding: 3.5rem 0 0;
    a {
        color: black;
        text-decoration: none;
        display: block;
        font-size: 1.1rem;
        width: 100%;
        padding: 10px 50px;
        transition: all .5s;
        &:hover {
            background: #f0f0f0;
            border-left: 7px rgba(78,152,79,1) solid;
            transform: translateX(20px);
        }
    }
}

