@use 'parts/header';
@use 'parts/main';
@use 'parts/footer';
@use '_var' as v;
@use '_class' as c;
@use '_anims' as a;

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

a {
    color: black;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 10px ;
}

#primary-nav {
    width: 100%;
    position: absolute;
    background: v.$primary-color;
    padding: 10px;
    top: -50%;
}

