@use '../_var' as v;
@use '../_class' as c;


main {
    margin: 0 30px;
}

#filter {
    @extend .flex;
    justify-content: space-between;
    padding: 20px 0;
    font-size: 1.5rem;
}

.car-item {
    padding: 20px 0 40px;
    border-bottom: 2px rgb(240, 240, 240) solid;
}

i {
    opacity: 0;
    transition: all .5s;
}

.illustration {
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    &:hover {
        i {
            opacity: .7;
            &:hover {
                transform: scale(1.05);
            }
        }
    }
}


.car-about {
    padding: 0 4rem;
    h3 {
        font-size: 2rem;
    }
    button {
        width: 200px;
        height: 40px;
        margin: 10px;
        background: v.$secondary-color;
        color: v.$primary-color;
        border: 0;
        border-radius: 10px;
        font-size: 1rem;
        transition: all .5s;
        &:hover {
            transform: scale(1.02);
        }
    }
}